/* tekst en fonts */

@font-face {
  font-family: spotify-headers;
  src: url(../font/Circular/CircularStd-Bold.otf);
}

@font-face {
  font-family: spotify-tekst;
  src: url(../font/Circular/CircularStd-Bold.otf);
}

body {
  background-color: #212121;
  margin: 0;
  font-family: spotify-headers;
}

p {
  font-family: spotify-tekst;
}

h3,
h4 {
  margin-left: 1em;
  color: #1db954;
}

h1 {
  margin-left: 0.6em;
  color: #1db954;
}

h2 {
  margin-left: 0.9em;
  color: #37f67a;
}

p,
img {
  margin-left: 1.3em;
}

/* navbar */

nav ul {
  display: flex;
  background: #0e692e;
  padding: 1em;
  margin: 0;
}

nav a {
  color: #d6e2da;
  text-decoration: none;
  padding: 1em;
}

nav ul :hover {
  transform: scale(1.1);
}

/* teksten */

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
  padding-top: 1em;
  padding-bottom: 0.8em;
}

h3 {
  font-size: 1.2rem;
}

.artiest-2 {
  font-size: 1.4rem;
  padding-top: 0.1em;
}

p {
  /* color: #d6e2da; */
  max-width: 50vw;
  line-height: 1.6em;
  color: #c7ccc8;
}

.rij-titel {
  padding-right: 1em;
}

/* lijsten */

ol {
  color: #1db954;
}

ul {
  padding-left: 0.1em;
}

ul li {
  list-style-type: none;
}

.embeds-rij {
  display: flex;
  justify-content: space-evenly;
}

/* afbeeldingen */

.playlist-img {
  max-width: 50vw;
  max-height: 50vh;
  margin-bottom: 0.2em;
}

.artiest-img {
  max-width: 15vw;
  max-height: 40vh;
}

/* links */
.link-playlist {
  color: #1db954;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 2em;
  padding-left: 1em;
}

/* embeds */
.album-embed {
  border: none;
  width: 30vw;
  height: 40vh;
  padding: 1.2em;
}

.album-embed-2 {
  border: none;
  width: 23vw;
  height: 40vh;
  padding-bottom: 1.2em;
  padding-right: 5em;
  margin-top: 3em;
}

.nummer-embed {
  padding: 2em;
  border: none;
  width: 23vw;
  height: 20vh;
}

.nummer-embed-2 {
  padding: 2em;
  border: none;
  width: 45vw;
  height: 35vh;
}
